<!-- app/views/videos/new.html.erb -->
<div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
  <h1 class="text-2xl font-bold mb-6">New Video</h1>

  <%= render 'form', video: @video %>

  <div class="mt-6">
    <%= link_to 'Back', videos_path, class: "text-blue-600 hover:text-blue-800" %>
  </div>
</div>
